* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a {
  color: inherit;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1.5;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  font-weight: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.title {
  font-weight: 600;
  font-size: 36px;
  line-height: 120%;
  text-align: center;
  color: #333333;
  margin: 0px auto;
}

.button {
  width: 366px;
  height: 64px;
  background: linear-gradient(180deg, #ffa96b -21.43%, #ee7a28 100%);
  border-radius: 10px;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ffffff;
}

.label {
  width: 100%;
  font-weight: 600;
  font-size: 16px;
  color: rgb(7%, 9%, 13%, 0.6);
}

.input {
  width: 100%;
  margin: 8px 0px 16px;
  font-weight: 600;
  font-size: 12px;
  color: #b1b1b1;
  border: 1px solid #dddee4;
  border-radius: 5px;
  padding: 18px 16px;
}

.thanks {
  width: 622px;
  height: 271px;
  padding: 92px 90px 93px;
  border: 1px solid grey;
  border-radius: 15px;
  margin: 0px auto;
  background-image: url(../img/reviews/reviews-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

input::placeholder {
  color: rgb(69%, 69%, 69%, 0.6);
}

.text {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #585858;
}

/*---*/

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  width: 100vw;
  min-height: 100vh;
  padding: 0;
  overflow: hidden scroll;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1240px;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}

/*page main*/
/*section header*/

.header {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 80px;
  /* position: fixed; */
  z-index: 10;
  background: #ffffff;
  color: #4a4a4a;
  border-bottom: 2px solid #999999;
}

.header__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__list {
  display: flex;
  gap: 32px;
  font-weight: 600;
  font-size: 16px;
}

.header__button-phone {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__btn {
  width: 196px;
  height: 31px;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  color: #e97522;
  background: #ffffff;
  border: 2px solid #e97522;
  border-radius: 10px;
}

.header__phone {
  font-weight: 600;
}

/*section banner*/

.banner {
  padding-top: 80px;
  background: #444444;
}

.banner__items {
  width: 70%;
  color: #f5f5f5;
  padding: 149px 0px 141px;
}

.banner__title {
  font-weight: 700;
  font-size: 66px;
  line-height: 78px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 52px;
}

.banner__title span {
  letter-spacing: 3.2px;
}

.banner__subtitle {
  font-weight: 600;
  font-size: 36px;
  line-height: 120%;
  margin-bottom: 24px;
}

.banner__text {
  font-size: 16px;
  line-height: 26px;
  padding-right: 85px;
  margin-bottom: 32px;
}

/*section portfolio*/

.portfolio {
  padding: 120px 0px 60px;
}

.portfolio__cont {
  width: 1440px;
  padding: 80px 0px 40px;
  position: relative;
  margin: 0px auto;
}

.portfolio__items {
  display: flex;
  justify-content: center;
  width: 100%;
}

.portfolio__slider {
  /* display: flex;
  justify-content: space-between; */
}

.portfolio__slide {
  width: 480px;
  height: 544px;
  background-size: cover;
  background-repeat: no-repeat;
}

.slider__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 5;
  top: 50%;
  color: #e97522;
  width: 73px;
  height: 73px;
  background: #ffffff;
  border-radius: 50%;
  transform: translate(0px, -50%);
}

.slider__arrow--prev {
  left: -35px;
  box-shadow: -4px 0px 8px 0px rgba(34, 60, 80, 0.2);
}

.slider__arrow--next {
  right: -35px;
  box-shadow: 4px 0px 8px 0px rgba(34, 60, 80, 0.2);
}

.slider__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  z-index: 5;
  width: 100%;
  bottom: 43px;
}

.slider__dot {
  width: 6px;
  height: 6px;
  opacity: 0.9;
  background: #b1b1b1;
  border-radius: 50%;
}

.slider__dot--active {
  width: 8px;
  height: 8px;
  background: #e97522;
  opacity: 0.9;
  border-radius: 50%;
}

/*section locations*/

.locations {
  padding: 60px 0px 80px;
  position: relative;
}

.locations__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.locations__slider {
  padding: 72px 0px 60px;
  margin: 0px -13px;
}

.locations__slide {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 395px;
  height: 349px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  padding: 0px 30px 16px;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  margin: 0px 13px;
}

.locations__btn {
  height: 48px;
  margin: 0px auto;
}

/*locations form*/

.locations__form {
  display: flex;
  width: 1040px;
  border: 1px solid grey;
  background: #ffffff;
  border-radius: 15px;
  padding: 61px 50px 51px;
  gap: 20px;
  margin: 0px auto;
}

.locations__form-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.locations__form-title {
  margin-bottom: 32px;
}

.locations__form-inputs {
  padding: 0px 22px;
}

.locations__form-btn {
  width: 100%;
  height: 48px;
  margin: 16px 0px;
}

/*locations__thanks*/

.locations__thanks {
  padding: 92px 78px 93px;
}

/*section photo-studio*/

.photo-studio {
  padding: 60px 0px 51px;
}

.photo-studio__video {
  width: 100%;
  height: 674px;
  background: #999999;
  margin-top: 80px;
}

/*section services*/

.services {
  padding: 60px 0px 48px;
}

.services__items {
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px 100px 100px 100px 100px;
  gap: 32px;
  margin-top: 80px;
}

.services__img {
  width: 100%;
  height: auto;
  background: yellow;
}

/*section steps*/

.steps {
  padding: 78px 0px 60px;
}

.steps__items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 97px;
  gap: 8%;
}

.steps__elements {
  width: 28%;
  height: 190px;
  border: 2px solid #e97522;
  box-shadow: 0px 24px 38px rgba(220, 220, 220, 0.14),
    0px 9px 46px rgba(216, 216, 216, 0.12),
    0px 11px 15px rgba(221, 221, 221, 0.2);
  border-radius: 12px;
  padding: 40px 40px 50px;
  position: relative;
  margin-bottom: 60px;
}

.steps__elements-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  color: #333333;
  margin-bottom: 12px;
}

.steps__elements-text {
  font-size: 16px;
  line-height: 140%;
  color: #4a4a4a;
}

.steps__elements-numb {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  top: -20px;
  left: -20px;
  position: absolute;
  background: #f9f4ee;
  border-radius: 50%;
  font-weight: 700;
  font-size: 30px;
  color: #e97522;
}

/*section idea*/

.idea {
  padding: 60px 0px 50px;
  background: #f2f4f4;
}

.idea__text {
  margin-top: 32px;
  font-size: 16px;
  line-height: 26px;
  color: #4a4a4a;
}

.idea__text p {
  margin-bottom: 30px;
}

.idea__text p:last-child {
  margin-bottom: 24px;
}

.idea__btns {
  display: flex;
  justify-content: end;
}

.idea__btn {
  background: none;
  color: #e97522;
}

.idea__btn span {
  margin-left: 16px;
}

/*section price*/

.price {
  padding: 118px 0px 169px;
}

.price__items {
  display: flex;
  justify-content: center;
  gap: 22px;
}

.price__elements {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 100%;
  padding: 48px 15px 42px;
  background: #f2f4f4;
  border-radius: 16px;
  font-size: 16px;
  margin-top: 80px;
}

.price__elements-2 {
  background: #f9f4ee;
}

.price__elements-3 {
  background: #f5d9c6;
}

.price__info {
  padding: 0px 30px;
}

.price__info-rate {
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  color: #4a4a4a;
  margin-bottom: 16px;
}

.price__info-price {
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;
  color: #333333;
}

.price__info-location {
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #838383;
  margin-bottom: 40px;
}

.price__info-list {
  line-height: 140%;
  color: #333333;
}

.price__info-list li {
  margin-bottom: 17px;
}

.price__elements-title {
  text-align: center;
  padding: 15px 0px 12px;
}

.price__elements-btns {
  display: flex;
  justify-content: center;
  gap: 2%;
}

.price__elements-btn {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
  text-align: center;
  color: #333333;
  background: #ffffff;
  border: 1px solid #c2c2c2;
  border-radius: 5px;
  padding: 6px 5px;
  margin-bottom: 58px;
}

.price__elements-btn-1 {
  width: 26%;
}

.price__elements-btn-2 {
  width: 22%;
}

.price__elements-btn-3 {
  width: 48%;
}

.price__elements-reserve {
  width: 100%;
  height: 48px;
}

/*section trend*/
.trend {
  padding: 60px 0px 50px;
  background: #f9f4ee;
}

/*section gift*/

.gift {
  padding: 82px 0px 92px;
}

.gift__items {
  display: flex;
  justify-content: space-between;
  padding: 0px 0px 38px 120px;
  background: #f2f4f4;
  border-radius: 25px;
  margin-top: 80px;
}

.gift__info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
}

.gift__info-subtitle {
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 1px;
  color: #c1c1c1;
}

.gift__info-title {
  font-size: 48px;
  line-height: 140%;
  letter-spacing: 1px;
  color: #4a4a4a;
  margin: 8px 0px 52px;
}

.gift__list {
  font-weight: 600;
  font-size: 16px;
  color: #4a4a4a;
}

.gift__list li {
  margin-bottom: 25px;
}

.gift__list li:last-child {
  margin-bottom: 0px;
}

.gift__img-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gift__img {
  width: 100%;
  padding-right: 86px;
}

.gift__text {
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #333333;
  padding-right: 180px;
  margin-top: -20px;
}

.gift__btn {
  width: 342px;
  height: 48px;
  margin-top: 24px;
}

/*gift__form*/

.gift__form {
  display: flex;
  width: 1033px;
  border: 1px solid grey;
  border-radius: 15px;
  margin: 0px auto;
  padding: 60px 40px 53px 34px;
}

.gift__form-img {
  width: 50%;
}

.gift__form-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.gift__form-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 32px 29px 16px;
}

.gift__form-btn {
  width: 100%;
  height: 48px;
  margin-top: 16px;
}

/*gift__thanks*/

.gift__thanks {
  width: 624px;
  height: 331px;
  text-align: center;
  padding: 88px 80px 89px;
  border: 1px solid grey;
  border-radius: 15px;
  margin: 0px auto;
  background-image: url(../img/gift/gift-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.gift__thanks-title {
  color: #4a4a4a;
  margin-bottom: 24px;
}

.gift__thanks-text {
  font-size: 16px;
  line-height: 22px;
  color: #121621;
}

/*section reviews*/

.reviews {
  padding: 60px 0px 86px;
}

.reviews__items {
  display: flex;
  padding: 80px 94px 89px;
  gap: 16px;
}

.reviews__items > div:nth-child(odd) {
  margin-top: 118px;
}

.reviews__elemenets {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews__elemenets-title {
  font-weight: 600;
  font-size: 24px;
  color: #4a4a4a;
  margin: 31px 0px 14px;
}

.reviews__elemenets-text {
  text-align: center;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.reviews__elemenets-btn {
  background: none;
  font-weight: 600;
  font-size: 16px;
  color: #e97522;
}

.reviews__items-btn {
  margin: 0 auto;
}

.reviews__form {
  width: 1033px;
  border: 1px solid grey;
  border-radius: 15px;
  margin: 0px auto;
  padding: 60px 11px 60px 45px;
}

.reviews__form-title {
  width: 60%;
  margin: 0px 0px;
}

.reviews__form-items {
  display: flex;
  width: 100%;
}

.reviews__form-inputs {
  display: flex;
  flex-direction: column;
  padding: 40px 47px 0px;
  width: 100%;
}

.reviews__form-btn {
  width: 100%;
  margin: 16px 0px;
}

.reviews__form-img {
  width: 50%;
  margin-top: -50px;
}

/*reviews__thanks*/

.reviews__thanks {
  width: 622px;
  height: 271px;
  padding: 92px 90px 93px;
  border: 1px solid grey;
  border-radius: 15px;
  margin: 0px auto;
  background-image: url(../img/reviews/reviews-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.reviews__thanks-title {
}

/*section contacts*/

.contacts {
  padding: 100px 0px 150px;
}

.contacts__map {
  border: 5px solid #f2f4f4;
  filter: drop-shadow(0px 2.69px 6.65px rgba(121, 121, 121, 0.2));
  border-radius: 25.8573px 0px 0px 25.8573px;
}

.contacts__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 551px;
  background: #f2f4f4;
  border-radius: 25px;
  padding: 81px 36px;
  color: #585858;
  position: absolute;
  top: -25px;
  right: 0;
  z-index: 3;
}

.contacts__form-title {
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 32px;
}

.contacts__form-btn {
  margin: 16px 0px;
}

/*section footer*/

.footer {
  background: #f2f4f4;
  padding: 60px 0px;
}

.footer__menu {
  border-bottom: 1px solid #b1b1b1;
}

.footer_items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 5px 32px;
}

.footer__items-link {
  font-weight: 700;
  font-size: 16px;
  color: #4a4a4a;
}

.footer__items-link a {
  margin-left: 52px;
}

.footer__items-link a:hover {
  color: #e97522;
}

.footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}

.footer__social-text {
  margin-right: 8px;
  font-weight: 600;
  font-size: 16px;
  color: #333333;
}

.footer__social a {
  margin-left: 24px;
  color: #b1b1b1;
}

.footer__social a:hover {
  color: #e97522;
}
